#new-quote {
    border-radius: 3px;
    background-color: blue;
    font-size: 1.6rem;
}

#tweet-quote {
    border-radius: 3px;
    background-color: purple;
    font-size: 1.2rem;
}

#tumblr-quote {
    border-radius: 3px;
    background-color: burlywood;
    font-size: 1.2rem;
}