#button {
    border-radius: 3px;
    background-color: blue;
    font-size: 3rem;
    // &-new-quote {
    //     justify-content: flex-end;
    // }
    // &-tumblr &-twitter {
    //     justify-content: flex-start;
    // }
}

