#quote-box {
    border-radius: 3px; 
    background-color: #fff;
    padding: 2rem;
}
    #quote-text {
        text-align: center;
        width: 45rem;
        height: auto;
        font-size: 1.75rem;
        font-weight: 500;
    }
    #quote-author {
        width: 45rem;
        height: auto;
        text-align: right;
        font-weight: 400;
    }

#button-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 2rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 0;
    

    // > button {
    //     border-radius: 3px;
    //     background-color: blue;
    //     font-size: 1.6rem;

    //     #btn-twitter {
    //         justify-content: flex-start;
    //     }
    // }
}
